.topNav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
    background-color:#333;
    overflow:hidden;
    padding: 10px 0; /* si quieres más altura, ajústalo aquí */
}
.topNav a{
float: left;
color: #f2f2f2;
text-align: center;
text-decoration: none;
font-size: 15px;
padding: 6px 12px;
}
.topNav a:hover{
background-color: #ddd;
color: black;
}
.topNav a.active{
background-color: #04AA6D;
color: white;
}
.content {
background-color: green;
border-radius: 5px;
box-shadow: 0 5px 5px rgba(0,0,0,0.1);
padding: 20px;
margin-top: 20px;
}
.imgEmpresa {
background-image: url('../Img/hacker_450.png');
background-size: cover;
background-position: center;
width: 500px;
height: 400px;
}
body{
background-color: lightblue;
font-family: Arial;
padding: 20px;
max-width: 1200px;
margin: 0 auto;   /* esto centra el contenido en pantalla */
}
body{
    margin-top: 60px;
}



/* Pie de página */
footer {
    background-color: #8d6e63;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 30px;
}

